<ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-left align-items-left">
    <a href="/dataorga/"><li><i class="bi bi-person-lines-fill"></i> Home</li></a>
    <hr>
    <li>Konzepte & Prinzipien</li>
    <li>open data</li>
    <li>führendes System</li>
    <li>BI Team</li>
    <hr>
    {% assign sorted = site.pages | where:"tags","orga" | where:"tags","point" | sort: 'title'%}
    {% for page in sorted %}
    <a href="{{page.url | relative_url}}"><li><i class="bi {{page.icon}}"></i> {{page.title}}</li></a>
    {% endfor %}
    <li>Satelit</li>
    <li>Data-Hub</li>
    <li>Data Community</li>
    <li>GRIT</li>
    <hr>
    <!-- Rollen -->
    {% assign sorted = site.pages | where:"tags","role" | where:"tags","point" | sort: 'title'%}
    {% for page in sorted %}
    <a href="{{page.url | relative_url}}"><li><i class="bi {{page.icon}}"></i> {{page.title}}</li></a>
    {% endfor %}
    {% assign sorted = site.pages | where:"tags","role" | where:"tags","subpoint" | sort: 'title'%}
    {% for page in sorted %}
    <a href="{{page.url | relative_url}}"><li><i class="bi {{page.icon}}"></i> {{page.title}}</li></a>
    {% endfor %}
    <hr>
    <!-- Prozesse -->
    {% assign sorted = site.pages | where:"tags","process" | sort: 'title'%}
    {% for page in sorted %}
    <a href="{{page.url | relative_url}}"><li><i class="bi {{page.icon}}"></i> {{page.title}}</li></a>
    {% endfor %}
    <li>Anforderungsprozess</li>
    <li>Priorisierung</li>
</ul>